/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */
/* line 8, ../scss/style.scss */
body.front #admin-menu {
  display: none;
}

/* line 11, ../scss/style.scss */
.footer {
  margin-top: 0;
  padding-top: inherit;
  padding-bottom: inherit;
  border-top: none;
}
